
body{
    background-image: url(/img/wa5/field.png); 
    background-repeat: no-repeat;
}

h1 img {
    position:absolute;
    height: 3%;
    float: right;
    top:0;
    left:10;
}

overlay2 img{
    position:relative;
}

overlay2 img responsive {
    width:10%;
    height:auto;
}