body{
    background-color: #DAF3E0;
    font-family: Didot;
}

p {
    font-size: large;
    text-align: center;
}
nav {
    background-color: white;
    padding: .5em;
    position:-webkit-sticky;
    position:sticky;
    top:0;
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
}

nav a {
    color: black;
    text-decoration: none;
    padding: .5em 1em;
}

nav li :hover{
    background-color: lightblue;

}

.headshot {
    display:flex;
    width:400px;
    height:auto;
    padding: 2em;
}

.footer{
    background-color: #CBD3CE;
    color: white;
    position: absolute;
    bottom:0;
}

.header{
    background-color: #CBD3CE;
    color: #fff;
    text-align: center;
    padding:1em;

}

.linkedin{
    height: 40px;
    width: auto;
}

.card {
    margin: 0 auto;
    padding: 20px;
    max-width: 980px;
    display:flex;
  }

p2 {
    box-sizing: content-box;
    width:100%;
    padding:12px 20px;
    margin: 8px 0;

}