body{
    background-color: #fff;
    font-family: Didot;
}

p {
    font-size: large;
    text-align: center;
    
}
nav {
    background-color: white;
    padding: .5em;
    position:-webkit-sticky;
    position:sticky;
    top:0;
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
}

nav a {
    color: navy;
    text-decoration: none;
    padding: .5em 1em;
}

nav li :hover{
    background-color: lightblue;

}

.headshot {
    float: center;
    width:400px;
    height:auto;
    padding: 2em;
}

.footer{
    background-color: navy;
    color: white;
    position: absolute;
    bottom:0;
}

.header{
    background-color: navy;
    color: #fff;
    text-align: center;
    padding:1em;

}

.linkedin{
    height: 40px;
    width: auto;
}

.bio {
    border: 1 px solid black;
}