body{
    background-color: #fff;
}

nav {
    background-color: #000;
    padding: .5em;
    position:-webkit-sticky;
    position:sticky;
    top:0;
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
}

headshot {
    max-height: 25%;
    float: left;
}